/****************************
 Contact Form (Javascript)
****************************/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input:hover {
    background-color: #696a6d;
}

.container {
    border-radius: 75px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* background color of site */
body {
  background-color: #dee4ed;
}


.info {
  font-family: 'Henny Penny', cursive;
  font-family: 'Farsan', cursive;
  font-size: 20px;
  list-style-type: none;
  }

/*****************
   Navigation Bar
 *****************/
.nav {
  background-color: grey;
  list-style: disc;
  text-align: center;
  padding: 20px 0;
  margin-top: 0;
  margin-bottom: auto;
  top: auto;
}

/* Set the navbar background color */
#nav, #nav-inner, .nav-list {
  background-color: #fff;
  border: 0;
  }

/* Set the default link color */
#nav a,
#nav a:visited {
  font-size: 105%;
  font-weight: bold;
  background-color: #fff;
  color: #AE2727;
  }

.nav > li {
  font-size: 20px;
  display: inline-block;
  padding-right: 150% ;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color; #c1c1c1;
}

/*******************
    Header Styles
*******************/

.logo {
height: 450px;
background: image('images/thunder-off-center.jpg') no-repeat center / cover;
background-image: /*image*/("images/thunder-off-center.jpg");
margin-top: 125px;
padding: 0 25px;
padding-top: 0;
}

.logo2 {
  height: 175px;
  width: 275px;
  padding-right: 125px;
}

.logo2-1 {
  height: 175px;
  width: 275px;
  padding-left: 25px;
  align-items: flex-start;
  }

.logo3 {
  height: 375px;
  width: 275px;
}

.logo3-1 {
  height: 375px;
  width: 350px;
}

.logo3-2 {
  height: 375px;
  width: 350px;
}

#flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 550px;
  width: 100%;
}

.louis {
  background-image: url('../images/louisville.jpg');
  background-size: cover;
  background-repeat:initial;
  background-position: center;
}

.alouis {
  background-size: cover;
  background-repeat:initial;
  background-position: center;
}

/********************
     Contact.css
********************/
.contact-nav {
}

.contact-nav li {
  text-align: center;
  padding: 0 20px 0;
  margin:auto;
}

/********************
  Link Styles.css
********************/

.nav > li {
  font-size: 20px;
  display: inline-block;
  padding-right: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color; #c1c1c1;
}

/* Style inputs with type="text"*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styling the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, adds a darker color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 65px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*********************
        footer
**********************/
.end {
  font-size: .75em;
  background-color: lightgrey;
  text-align: left;
  padding-top: 5px;
  padding-bottom: -15px;
  margin: 0;
}

/**********************
    About.html css
**********************/

.body1 {
  height: 50px;
}

.pictures {
  height: 450px;
  width: 450px;
}

.pictures1 {
  height:450px;
  width: 450px;
}

#binfo {
  font-size: .75em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: -15px;
  margin: 10%;
  position: bottom;
  }

.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;

}
/* Index.html */

.main-heading {
    left: 0;
    height: 150%;
    line-height: -100;
    margin: auto;
    margin-top: -100px;
    position:absolute;
    top: 25%;
    width: 100%;
    color:lightblue;
}


@mediaquery {max-width: 768px;


}
